<h1>Add a New Mural</h1>

<div class="add_mural">
  <div class="row medium-unstack">
    <div class="small-12 medium-6 columns menu">
      <%= form_for @mural do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'formbox' %>
        <br /><br />

        <%= f.label :location %>
        <%= f.text_field :location %>
        <br /><br />

        <%= f.label :description %>
        <%= f.text_field :description %>
        <br /><br />

        <%= f.label :rating %>
        <%=f.collection_radio_buttons(:rating, @rating_collection, :first, :last) %>
        <br /><br />

        <%= f.label :photo_url %>
        <%= f.text_field :photo_url %>
        <br /><br />

        <%= f.label :mural_upload, "Upload Mural Picture" %>
        <%= f.file_field :mural_upload %>

        <%= f.submit "Add Mural" %>

      <% end %>
    </div>
  </div>
</div>
