<!-- <h1><%= @mural.name %></h1>
<p>
  <%= @mural.location %>
  <%= @mural.average_rating %>
  <%= image_tag @mural.photo_url %>
  <%= image_tag @mural.mural_upload %>
  <%= @mural.description %>
  Average Rating: <%= @averageRating%>

</p>

 -->


<div id="app">

</div>

<%= link_to "Add Review", new_mural_review_path(@mural)%>

<% if current_user && current_user.admin? || current_user && current_user.id == @mural.user_id %>
<%= button_to "Delete Mural: #{@mural.name}", mural_path(@mural), method: :delete %>
<% end %>

<% @reviews.each do |review| %>
<% if current_user && current_user.admin? || current_user && current_user.id == review.user_id %>
<% review_user = User.find(review.user_id) %>
<%= button_to "Delete Review by #{review_user.username}", review_path(review), method: :delete %>
<% end %>
<%end%>
