<!DOCTYPE html>
<html>
  <head>
    <title>Mural Reviews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


  </head>

  <body>
    <div class="topnav" id="myTopnav">
      <%= link_to 'Home', root_path %>
      <% if user_signed_in? %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <%= link_to 'Edit Profile', edit_user_registration_path %>
        <%= image_tag current_user.profile_photo %>
        <% if current_user.admin? %>
          <%= link_to 'Users Index', admin_users_path %>
        <% end %>

      <% else %>
        <%= link_to 'Sign Up', new_user_registration_path %>
        <%= link_to 'Sign In', new_user_session_path %>
      <% end %>

      <%= form_tag(murals_path, method: "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Murals" %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>

    </div>

    <% flash.each do |key, value| %>
      <%= value %>
    <%end%>


    <%= yield %>

  </body>
</html>
